Repository Stirling-Tools/Stirling-PDF: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-duplicate-properties-keys, check-html-tabs

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.2.1
    hooks:
      - id: ruff
        args:
          - --fix
          - --line-length=127
        files: ^((.github/scripts|scripts)/.+)?[^/]+\.py$
        exclude: (split_photos.py)
      - id: ruff-format
        files: ^((.github/scripts|scripts)/.+)?[^/]+\.py$
        exclude: (split_photos.py)
  - repo: https://github.com/codespell-project/codespell
    rev: v2.2.6
    hooks:
      - id: codespell
        args:
          - --ignore-words-list=
          - --skip="./.*,*.csv,*.json,*.ambr"
          - --quiet-level=2
        files: \.(properties|html|css|js|py|md)$
        exclude: (.vscode|.devcontainer|src/main/resources|Dockerfile)
  - repo: local
    hooks:
      - id: check-duplicate-properties-keys
        name: Check Duplicate Properties Keys
        entry: python .github/scripts/check_duplicates.py
        language: python
        files: ^(src)/.+\.properties$
  - repo: local
    hooks:
      - id: check-html-tabs
        name: Check HTML for tabs
        # args: ["--replace_with=  "]
        entry: python .github/scripts/check_tabulator.py
        language: python
        exclude: ^(src/main/resources/static/pdfjs|src/main/resources/static/pdfjs-legacy)
        files: ^.*(\.html|\.css|\.js)$
#  - repo: https://github.com/gherynos/pre-commit-java
#    rev: v0.2.4
#    hooks:
#      - id: Checkstyle
  - repo: https://github.com/gitleaks/gitleaks
    rev: v8.16.3
    hooks:
      - id: gitleaks
  - repo: https://github.com/jumanjihouse/pre-commit-hooks
    rev: 3.0.0
    hooks:
      - id: shellcheck
#  - repo: https://github.com/pre-commit/mirrors-eslint
#    rev: v8.38.0
#    hooks:
#      - id: eslint
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: end-of-file-fixer
      - id: trailing-whitespace
#  - repo: https://github.com/pylint-dev/pylint
#    rev: v2.17.2
#    hooks:
#      - id: pylint

Drag and drop images on sign/addimage
  src/main/resources/static/js/fileInput.js
Due: check-html-tabs

Adjust toolbar buttons dimensions
  src/main/resources/static/css/redact.css
  src/main/resources/static/pdfjs-legacy/css/viewer-redact.css
Due: check-html-tabs

Fix icon overlapping and make design more responsive
  src/main/resources/static/css/redact.css
  src/main/resources/static/js/redact.js
  src/main/resources/static/pdfjs-legacy/css/viewer-redact.css
  src/main/resources/templates/security/redact.html
Due: check-html-tabs

Fix show more button being unclickable
  src/main/resources/static/pdfjs-legacy/css/viewer-redact.css
  src/main/resources/templates/security/redact.html
Due: check-html-tabs

Use correct selector
  src/main/resources/static/pdfjs-legacy/css/viewer-redact.css
Due: none

Display show more button for medium-small screens
  src/main/resources/static/pdfjs-legacy/css/viewer-redact.css
Due: none

Display zoom buttons side by side in small screens
  src/main/resources/static/pdfjs-legacy/css/viewer-redact.css
Due: none

Center page based redaction overlay
  src/main/resources/static/css/redact.css
Due: check-html-tabs

Adjust page based redaction overlay for small-medium screens
  src/main/resources/static/pdfjs-legacy/css/viewer-redact.css
Due: none

Update build.yml
  .github/workflows/build.yml
Due: none

Update build.yml (#2559)
  .github/workflows/build.yml
Due: none

Update push-docker only sigh fat and normal
  .github/workflows/push-docker.yml
Due: none

Adding the missing translations in French
  src/main/resources/messages_fr_FR.properties
Due: check-duplicate-properties-keys

Update check_properties.yml
  .github/workflows/check_properties.yml
Due: none

Adding the missing translations in French (#2563)
  src/main/resources/messages_fr_FR.properties
Due: check-duplicate-properties-keys

add permissions for `check_properties.yml` (#2564)
  .github/workflows/check_properties.yml
Due: none

UI clean up and minor bug fixes
  src/main/resources/static/css/add-image.css
  src/main/resources/static/css/fileSelect.css
  src/main/resources/static/css/sign.css
  src/main/resources/static/js/draggable-utils.js
  src/main/resources/static/js/pages/add-image.js
  src/main/resources/static/js/pages/sign.js
  src/main/resources/templates/misc/add-image.html
  src/main/resources/templates/sign.html
Due: check-html-tabs

Extract text redaction box rotation logic into a function
  src/main/resources/static/js/redact.js
Due: check-html-tabs

Fix box redaction placement in rotated PDFs
  src/main/resources/static/js/redact.js
Due: check-html-tabs

Fixes SSO login rejection
  src/main/java/stirling/software/SPDF/config/security/UserAuthenticationFilter.java
  src/main/java/stirling/software/SPDF/controller/web/AccountWebController.java
  src/main/resources/messages_en_GB.properties
Due: check-duplicate-properties-keys

removed `actions/checkout` for PR branch, use `gh`
  .github/workflows/check_properties.yml
Due: none

Fix full PDF not being displayed
  src/main/resources/static/pdfjs-legacy/css/viewer-redact.css
  src/main/resources/static/pdfjs-legacy/pdf.mjs
Due: none

enable CodeQL
  .github/workflows/codeql.yml
Due: none

removed `actions/checkout` for PR branch, use `gh` (#2567)
  .github/workflows/check_properties.yml
Due: none

Fix redaction overlay rotating with the page
  src/main/resources/static/js/redact.js
Due: check-html-tabs

Place redaction overlay at the bottom of redaction box
  src/main/resources/static/css/redact.css
Due: check-html-tabs

Fix redaction overlay being placed out of page
  src/main/resources/static/js/redact.js
Due: check-html-tabs

Fix disappearance of redacted areas
  src/main/resources/static/js/redact.js
Due: check-html-tabs

Fix top offset sign for active overlay coordinates
  src/main/resources/static/js/redact.js
Due: check-html-tabs

Hide overlay on rotation change
  src/main/resources/static/js/redact.js
Due: check-html-tabs

Refactor overlay coordinates logic into a function
  src/main/resources/static/js/redact.js
Due: check-html-tabs

docs(readme): fix typo SECURITY_ENABLE_LOGIN to SECURITY_ENABLELOGIN
  README.md
Due: none

move docs to website
  CONTRIBUTING.md
  Endpoint-groups.md
  FolderScanning.md
  LocalRunGuide.md
  PipelineFeature.md
  README.md
  Version-groups.md
  src/main/resources/templates/misc/ocr-pdf.html
  src/main/resources/templates/pipeline.html
Due: check-html-tabs

fix
  README.md
Due: none
