Repository Stirling-Tools/Stirling-PDF: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-duplicate-properties-keys, check-html-tabs

check-duplicate-properties-keys:
  name: Check Duplicate Properties Keys
  entry: python .github/scripts/check_duplicates.py
  language: python

check-html-tabs:
  name: Check HTML for tabs
  entry: python .github/scripts/check_tabulator.py
  language: python

changes the permission to write issues (#2590)
  .github/workflows/PR-Demo-Comment.yml
Due: none

Update messages_it_IT.properties
  src/main/resources/messages_it_IT.properties
Due: check-duplicate-properties-keys

changes the permission deploy-pr
  .github/workflows/PR-Demo-Comment.yml
Due: none

Update PR-Demo-Comment.yml
  .github/workflows/PR-Demo-Comment.yml
Due: none

changes the permission deploy-pr (#2592)
  .github/workflows/PR-Demo-Comment.yml
Due: none

Update messages_it_IT.properties (#2591)
  src/main/resources/messages_it_IT.properties
Due: check-duplicate-properties-keys

Update PR-Demo-Comment.yml (#2594)
  .github/workflows/PR-Demo-Comment.yml
Due: none

Bump gradle-version from 8.7 to 8.12
  .github/workflows/multiOSReleases.yml
  .github/workflows/push-docker.yml
  .github/workflows/releaseArtifacts.yml
  build.gradle
Due: none

Green buttons
  src/main/resources/templates/misc/add-image.html
  src/main/resources/templates/multi-tool.html
  src/main/resources/templates/sign.html
Due: check-html-tabs

Green buttons (#2597)
  src/main/resources/templates/misc/add-image.html
  src/main/resources/templates/multi-tool.html
  src/main/resources/templates/sign.html
Due: check-html-tabs

Bump gradle-version from 8.7 to 8.12 (#2596)
  .github/workflows/multiOSReleases.yml
  .github/workflows/push-docker.yml
  .github/workflows/releaseArtifacts.yml
  build.gradle
Due: none

fixes: untrusted code
  .github/workflows/PR-Demo-Comment.yml
Due: none

fixes: untrusted code (#2598)
  .github/workflows/PR-Demo-Comment.yml
Due: none

removes unused implementation
  build.gradle
Due: none

Use click and drag mechanism for box redaction
  src/main/resources/static/js/redact.js
Due: check-html-tabs

Bump docker-compose from v2.29.1 to v2.32.1
  .github/workflows/build.yml
Due: none

Update labeler-config.yml
  .github/labeler-config.yml
Due: none

all is the default value
  src/main/java/stirling/software/SPDF/controller/api/converters/ConvertImgPDFController.java
  src/main/resources/templates/convert/pdf-to-img.html
Due: check-html-tabs

Draw box when pointer is out of canvas
  src/main/resources/static/js/redact.js
Due: check-html-tabs

Refactor calculateMouseCoordinateToRotatedBox to reduce cognitive complexity
  src/main/resources/static/js/redact.js
Due: check-html-tabs

Disable Stirling icon selection in the tool bar
  src/main/resources/templates/security/redact.html
Due: check-html-tabs

Adjust code styling format
  src/main/resources/static/js/redact.js
Due: check-html-tabs

Match navbar in homepage
  src/main/resources/static/css/home.css
  src/main/resources/static/js/homecard.js
  src/main/resources/templates/fragments/featureGroupHeader.html
  src/main/resources/templates/home.html
Due: check-html-tabs

Test
  build.gradle
  src/main/java/stirling/software/SPDF/SPdfApplication.java
  src/main/java/stirling/software/SPDF/UI/impl/DesktopBrowser.java
  src/main/java/stirling/software/SPDF/UI/impl/LoadingWindow.java
  src/main/java/stirling/software/SPDF/config/AppConfig.java
  src/main/java/stirling/software/SPDF/config/ConfigInitializer.java
  src/main/java/stirling/software/SPDF/config/FileFallbackTemplateResolver.java
  src/main/java/stirling/software/SPDF/config/InstallationPathConfig.java
  src/main/java/stirling/software/SPDF/config/LogbackPropertyLoader.java
  src/main/java/stirling/software/SPDF/config/LoggingInitializer.java
  src/main/java/stirling/software/SPDF/config/WebMvcConfig.java
  src/main/java/stirling/software/SPDF/config/security/saml2/CustomSaml2ResponseAuthenticationConverter.java
  src/main/java/stirling/software/SPDF/controller/api/SettingsController.java
  src/main/java/stirling/software/SPDF/controller/api/pipeline/PipelineController.java
  src/main/java/stirling/software/SPDF/controller/api/pipeline/PipelineDirectoryProcessor.java
  src/main/java/stirling/software/SPDF/controller/web/GeneralWebController.java
  src/main/java/stirling/software/SPDF/model/ApplicationProperties.java
  src/main/java/stirling/software/SPDF/service/SignatureService.java
  src/main/java/stirling/software/SPDF/utils/FileMonitor.java
  src/main/java/stirling/software/SPDF/utils/GeneralUtils.java
  src/main/java/stirling/software/SPDF/utils/PDFManipulationUtils.java
  src/main/java/stirling/software/SPDF/utils/PDFToFile.java
  src/main/java/stirling/software/SPDF/utils/misc/CustomColorReplaceStrategy.java
  src/main/resources/application.properties
  src/main/resources/logback.xml
  src/main/resources/settings.yml.template
Due: check-duplicate-properties-keys

removes unused implementation `com.unboundid.product.scim2` (#2599)
  build.gradle
Due: none

finals
  src/main/java/stirling/software/SPDF/config/InstallationPathConfig.java
  src/main/java/stirling/software/SPDF/config/LoggingInitializer.java
Due: none

Revert "removes unused implementation `com.unboundid.product.scim2` (#2599)"
  build.gradle
Due: none

Revert "removes unused implementation `com.unboundid.product.scim2`" (#2607)
  build.gradle
Due: none

*******Must be reverted********
  .devcontainer/devcontainer.json
  apend_properties_to_lang_files.sh
  src/main/java/stirling/software/SPDF/config/security/UserService.java
  src/main/java/stirling/software/SPDF/controller/web/AccountWebController.java
  src/main/java/stirling/software/SPDF/model/User.java
  src/main/java/stirling/software/SPDF/repository/UserRepository.java
Due: none

Update build.yml
  .github/workflows/build.yml
Due: none

Path conditions:
  check-duplicate-properties-keys: any of: ^(src)/.+\.properties$
  check-html-tabs: any of: ^.*(\.html|\.css|\.js)$, but not: ^(src/main/resources/static/pdfjs|src/main/resources/static/pdfjs-legacy)
