Repository Stirling-Tools/Stirling-PDF: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-duplicate-properties-keys, check-html-tabs

check-duplicate-properties-keys:
  name: Check Duplicate Properties Keys
  entry: python .github/scripts/check_duplicates.py
  language: python

check-html-tabs:
  name: Check HTML for tabs
  entry: python .github/scripts/check_tabulator.py
  language: python

debugs
  src/main/java/stirling/software/SPDF/SPdfApplication.java
  src/main/java/stirling/software/SPDF/config/YamlPropertySourceFactory.java
  src/main/java/stirling/software/SPDF/model/ApplicationProperties.java
Due: none

null checks
  src/main/java/stirling/software/SPDF/config/EndpointConfiguration.java
Due: none

null
  src/main/java/stirling/software/SPDF/config/EndpointConfiguration.java
Due: none

test
  src/main/java/stirling/software/SPDF/SPdfApplication.java
  src/main/java/stirling/software/SPDF/config/ConfigInitializer.java
  src/main/java/stirling/software/SPDF/model/ApplicationProperties.java
Due: none

remove logs
  build.gradle
  src/main/java/stirling/software/SPDF/config/EndpointConfiguration.java
  src/main/java/stirling/software/SPDF/config/YamlPropertySourceFactory.java
  src/main/java/stirling/software/SPDF/model/ApplicationProperties.java
  src/main/resources/settings.yml.template
Due: none

space
  src/main/resources/settings.yml.template
Due: none

Update labeler-config.yml (#2601)
  .github/labeler-config.yml
Due: none

Bump docker-compose from v2.29.1 to v2.32.1 (#2600)
  .github/workflows/build.yml
Due: none

Update messages_it_IT.properties
  src/main/resources/messages_it_IT.properties
Due: check-duplicate-properties-keys

Update messages_it_IT.properties (#2610)
  src/main/resources/messages_it_IT.properties
Due: check-duplicate-properties-keys

Feature: Support manual redaction (#2433)
  src/main/java/stirling/software/SPDF/config/EndpointConfiguration.java
  src/main/java/stirling/software/SPDF/controller/api/security/RedactController.java
  src/main/java/stirling/software/SPDF/controller/web/SecurityWebController.java
  src/main/java/stirling/software/SPDF/model/api/security/ManualRedactPdfRequest.java
  src/main/java/stirling/software/SPDF/model/api/security/RedactionArea.java
  src/main/java/stirling/software/SPDF/utils/propertyeditor/StringToArrayListPropertyEditor.java
  src/main/resources/messages_en_GB.properties
  src/main/resources/static/css/redact.css
  src/main/resources/static/js/redact.js
  src/main/resources/static/pdfjs-legacy/css/viewer-redact.css
  src/main/resources/static/pdfjs-legacy/pdf.mjs
  src/main/resources/templates/fragments/navbar.html
  src/main/resources/templates/home.html
  src/main/resources/templates/security/redact.html
Due: check-duplicate-properties-keys, check-html-tabs

formatting
  src/main/java/stirling/software/SPDF/SPdfApplication.java
  src/main/java/stirling/software/SPDF/config/ConfigInitializer.java
  src/main/java/stirling/software/SPDF/config/EndpointConfiguration.java
  src/main/java/stirling/software/SPDF/config/YamlPropertySourceFactory.java
  src/main/java/stirling/software/SPDF/model/ApplicationProperties.java
  src/main/java/stirling/software/SPDF/utils/GeneralUtils.java
Due: none

File paths dynamic (#2605)
  .github/workflows/build.yml
  build.gradle
  src/main/java/stirling/software/SPDF/SPdfApplication.java
  src/main/java/stirling/software/SPDF/UI/impl/DesktopBrowser.java
  src/main/java/stirling/software/SPDF/UI/impl/LoadingWindow.java
  src/main/java/stirling/software/SPDF/config/AppConfig.java
  src/main/java/stirling/software/SPDF/config/ConfigInitializer.java
  src/main/java/stirling/software/SPDF/config/EndpointConfiguration.java
  src/main/java/stirling/software/SPDF/config/FileFallbackTemplateResolver.java
  src/main/java/stirling/software/SPDF/config/InstallationPathConfig.java
  src/main/java/stirling/software/SPDF/config/LogbackPropertyLoader.java
  src/main/java/stirling/software/SPDF/config/WebMvcConfig.java
  src/main/java/stirling/software/SPDF/config/YamlPropertySourceFactory.java
  src/main/java/stirling/software/SPDF/config/security/saml2/CustomSaml2ResponseAuthenticationConverter.java
  src/main/java/stirling/software/SPDF/controller/api/SettingsController.java
  src/main/java/stirling/software/SPDF/controller/api/pipeline/PipelineController.java
  src/main/java/stirling/software/SPDF/controller/api/pipeline/PipelineDirectoryProcessor.java
  src/main/java/stirling/software/SPDF/controller/web/GeneralWebController.java
  src/main/java/stirling/software/SPDF/model/ApplicationProperties.java
  src/main/java/stirling/software/SPDF/service/SignatureService.java
  src/main/java/stirling/software/SPDF/utils/FileMonitor.java
  src/main/java/stirling/software/SPDF/utils/GeneralUtils.java
  src/main/java/stirling/software/SPDF/utils/PDFManipulationUtils.java
  src/main/java/stirling/software/SPDF/utils/PDFToFile.java
  src/main/java/stirling/software/SPDF/utils/misc/CustomColorReplaceStrategy.java
  src/main/resources/application.properties
  src/main/resources/logback.xml
Due: check-duplicate-properties-keys

Update README.md
  README.md
Due: none

Manual redaction tooltips
  src/main/resources/messages_en_GB.properties
  src/main/resources/static/css/general.css
  src/main/resources/static/pdfjs-legacy/css/viewer-redact.css
  src/main/resources/templates/security/redact.html
Due: check-duplicate-properties-keys, check-html-tabs

Missing tooltip translation
  src/main/resources/messages_en_GB.properties
  src/main/resources/templates/security/redact.html
Due: check-duplicate-properties-keys, check-html-tabs

remove spaces
  src/main/resources/messages_en_GB.properties
Due: check-duplicate-properties-keys

Manual redact tooltips (#2614)
  src/main/resources/messages_en_GB.properties
  src/main/resources/static/css/general.css
  src/main/resources/static/pdfjs-legacy/css/viewer-redact.css
  src/main/resources/templates/security/redact.html
Due: check-duplicate-properties-keys, check-html-tabs

Update PR-Demo-Comment.yml
  .github/workflows/PR-Demo-Comment.yml
Due: none

cleanup
  exampleYmlFiles/docker-compose-latest-fat-security-postgres.yml
  src/main/java/stirling/software/SPDF/config/security/database/DatabaseConfig.java
  src/main/java/stirling/software/SPDF/config/security/database/DatabaseService.java
  src/main/java/stirling/software/SPDF/model/SessionEntity.java
  src/main/resources/application.properties
  src/main/resources/settings.yml.template
  src/test/java/stirling/software/SPDF/config/security/database/DatabaseConfigTest.java
  src/test/java/stirling/software/SPDF/config/security/database/DatabaseServiceTest.java
  src/test/java/stirling/software/SPDF/integrationtests/SPDFApplicationIntegrationTest.java
Due: check-duplicate-properties-keys

2270: renamed datasource config flag
  build.gradle
  exampleYmlFiles/docker-compose-latest-fat-security.yml
  exampleYmlFiles/docker-compose-latest-security-with-sso.yml
  exampleYmlFiles/docker-compose-latest-security.yml
  exampleYmlFiles/docker-compose-latest-ultra-lite-security.yml
  src/main/java/stirling/software/SPDF/config/security/database/DatabaseBackupHelper.java
  src/main/java/stirling/software/SPDF/config/security/database/DatabaseConfig.java
  src/main/java/stirling/software/SPDF/model/ApplicationProperties.java
  src/main/resources/settings.yml.template
  src/test/java/stirling/software/SPDF/config/security/database/DatabaseConfigTest.java
  src/test/java/stirling/software/SPDF/integrationtests/SPDFApplicationIntegrationTest.java
Due: none

#2700 handling exceptions
  src/main/java/stirling/software/SPDF/config/security/database/DatabaseBackupHelper.java
  src/main/java/stirling/software/SPDF/config/security/database/DatabaseConfig.java
  src/main/resources/settings.yml.template
  src/test/java/stirling/software/SPDF/config/security/database/DatabaseConfigTest.java
  src/test/java/stirling/software/SPDF/config/security/database/DatabaseServiceTest.java
Due: none

merging from main
  build.gradle
  exampleYmlFiles/docker-compose-latest-fat-security-postgres.yml
  exampleYmlFiles/docker-compose-latest-fat-security.yml
  exampleYmlFiles/docker-compose-latest-security-with-sso.yml
  exampleYmlFiles/docker-compose-latest-security.yml
  exampleYmlFiles/docker-compose-latest-ultra-lite-security.yml
  exampleYmlFiles/docker-compose-postgres.yml
  src/main/java/stirling/software/SPDF/SPDFApplication.java
  src/main/java/stirling/software/SPDF/config/interfaces/DatabaseBackupInterface.java
  src/main/java/stirling/software/SPDF/config/security/CustomLogoutSuccessHandler.java
  src/main/java/stirling/software/SPDF/config/security/UserService.java
  src/main/java/stirling/software/SPDF/config/security/database/DatabaseConfig.java
  src/main/java/stirling/software/SPDF/config/security/database/DatabaseService.java
  src/main/java/stirling/software/SPDF/config/security/database/ScheduledTasks.java
  src/main/java/stirling/software/SPDF/config/security/oauth2/CustomOAuth2AuthenticationSuccessHandler.java
  src/main/java/stirling/software/SPDF/config/security/saml2/CustomSaml2AuthenticationSuccessHandler.java
  src/main/java/stirling/software/SPDF/controller/api/DatabaseController.java
  src/main/java/stirling/software/SPDF/controller/api/UserController.java
  src/main/java/stirling/software/SPDF/controller/api/pipeline/ApiDocService.java
  src/main/java/stirling/software/SPDF/controller/api/pipeline/PipelineProcessor.java
  src/main/java/stirling/software/SPDF/controller/api/security/ValidateSignatureController.java
  src/main/java/stirling/software/SPDF/controller/web/DatabaseWebController.java
  src/test/java/stirling/software/SPDF/SPDFApplicationTest.java
  src/test/java/stirling/software/SPDF/SPdfApplicationTest.java
  src/test/java/stirling/software/SPDF/config/security/database/DatabaseConfigTest.java
  src/test/java/stirling/software/SPDF/integrationtests/SPDFApplicationIntegrationTest.java
Due: none

#2270 moving db container to a separate compose file
  exampleYmlFiles/docker-compose-latest-fat-security.yml
  exampleYmlFiles/docker-compose-latest-security-with-sso.yml
  exampleYmlFiles/docker-compose-latest-security.yml
  exampleYmlFiles/docker-compose-latest-ultra-lite-security.yml
  exampleYmlFiles/docker-compose-postgres.yml
  src/main/java/stirling/software/SPDF/EE/LicenseKeyChecker.java
  src/main/java/stirling/software/SPDF/config/security/database/DatabaseConfig.java
  src/main/java/stirling/software/SPDF/model/ApplicationProperties.java
  src/main/resources/settings.yml.template
  src/test/java/stirling/software/SPDF/config/security/database/DatabaseConfigTest.java
Due: none

#2700 updating log messages
  exampleYmlFiles/docker-compose-latest-security.yml
  src/main/java/stirling/software/SPDF/config/security/database/DatabaseConfig.java
  src/main/resources/settings.yml.template
Due: none

2270: Adding postgresql
  build.gradle
  src/main/java/stirling/software/SPDF/config/security/database/DatabaseBackupHelper.java
  src/main/java/stirling/software/SPDF/model/ApplicationProperties.java
  src/main/resources/settings.yml.template
Due: none

adding checks for H2
  src/main/java/stirling/software/SPDF/config/security/InitialSecuritySetup.java
  src/main/java/stirling/software/SPDF/config/security/database/DatabaseConfig.java
  src/main/java/stirling/software/SPDF/config/security/database/DatabaseService.java
  src/main/java/stirling/software/SPDF/controller/api/DatabaseController.java
  src/main/java/stirling/software/SPDF/model/SessionEntity.java
  src/main/java/stirling/software/SPDF/model/User.java
  src/main/resources/settings.yml.template
  src/test/java/stirling/software/SPDF/config/security/database/DatabaseServiceTest.java
Due: none

2270: updating docker-compose files
  exampleYmlFiles/docker-compose-latest-fat-security.yml
  exampleYmlFiles/docker-compose-latest-security-with-sso.yml
  exampleYmlFiles/docker-compose-latest-security.yml
  exampleYmlFiles/docker-compose-latest-ultra-lite-security.yml
Due: none

2270: clean up
  src/main/java/stirling/software/SPDF/config/interfaces/DatabaseInterface.java
  src/main/java/stirling/software/SPDF/config/security/InitialSecuritySetup.java
  src/main/java/stirling/software/SPDF/config/security/database/DatabaseBackupHelper.java
  src/main/java/stirling/software/SPDF/model/exception/BackupNotFoundException.java
  src/test/java/stirling/software/SPDF/config/security/database/DatabaseServiceTest.java
Due: none

Path conditions:
  check-duplicate-properties-keys: any of: ^(src)/.+\.properties$
  check-html-tabs: any of: ^.*(\.html|\.css|\.js)$, but not: ^(src/main/resources/static/pdfjs|src/main/resources/static/pdfjs-legacy)
