Repository Stirling-Tools/Stirling-PDF: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-duplicate-properties-keys, check-html-tabs

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.2.1
    hooks:
      - id: ruff
        args:
          - --fix
          - --line-length=127
        files: ^((.github/scripts|scripts)/.+)?[^/]+\.py$
        exclude: (split_photos.py)
      - id: ruff-format
        files: ^((.github/scripts|scripts)/.+)?[^/]+\.py$
        exclude: (split_photos.py)
  - repo: https://github.com/codespell-project/codespell
    rev: v2.2.6
    hooks:
      - id: codespell
        args:
          - --ignore-words-list=
          - --skip="./.*,*.csv,*.json,*.ambr"
          - --quiet-level=2
        files: \.(properties|html|css|js|py|md)$
        exclude: (.vscode|.devcontainer|src/main/resources|Dockerfile)
  - repo: local
    hooks:
      - id: check-duplicate-properties-keys
        name: Check Duplicate Properties Keys
        entry: python .github/scripts/check_duplicates.py
        language: python
        files: ^(src)/.+\.properties$
  - repo: local
    hooks:
      - id: check-html-tabs
        name: Check HTML for tabs
        # args: ["--replace_with=  "]
        entry: python .github/scripts/check_tabulator.py
        language: python
        exclude: ^(src/main/resources/static/pdfjs|src/main/resources/static/pdfjs-legacy)
        files: ^.*(\.html|\.css|\.js)$
#  - repo: https://github.com/gherynos/pre-commit-java
#    rev: v0.2.4
#    hooks:
#      - id: Checkstyle
  - repo: https://github.com/gitleaks/gitleaks
    rev: v8.16.3
    hooks:
      - id: gitleaks
  - repo: https://github.com/jumanjihouse/pre-commit-hooks
    rev: 3.0.0
    hooks:
      - id: shellcheck
#  - repo: https://github.com/pre-commit/mirrors-eslint
#    rev: v8.38.0
#    hooks:
#      - id: eslint
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: end-of-file-fixer
      - id: trailing-whitespace
#  - repo: https://github.com/pylint-dev/pylint
#    rev: v2.17.2
#    hooks:
#      - id: pylint

cleanup
  exampleYmlFiles/docker-compose-latest-fat-security-postgres.yml
  exampleYmlFiles/docker-compose-latest-fat-security.yml
  exampleYmlFiles/docker-compose-latest-security-with-sso.yml
  exampleYmlFiles/docker-compose-latest-security.yml
  exampleYmlFiles/docker-compose-latest-ultra-lite-security.yml
  exampleYmlFiles/docker-compose-postgres.yml
Due: none

testing db
  exampleYmlFiles/docker-compose-latest-fat-security-postgres.yml
  src/main/java/stirling/software/SPDF/config/security/database/DatabaseConfig.java
  src/test/java/stirling/software/SPDF/config/security/database/DatabaseConfigTest.java
  src/test/java/stirling/software/SPDF/integrationtests/SPDFApplicationIntegrationTest.java
Due: none

Fix last interacted deletion
  src/main/resources/static/js/draggable-utils.js
  src/main/resources/static/js/pages/add-image.js
Due: check-html-tabs

Update NFunction file_count in general.feature
  cucumber/features/general.feature
Due: none

Fix incorrect file count in general.feature
  cucumber/features/general.feature
Due: none

Enhancement: Enhance NFunction evaluation and support advanced NFunctions (#2577)
  cucumber/features/general.feature
  src/main/java/stirling/software/SPDF/utils/GeneralUtils.java
  src/test/java/stirling/software/SPDF/utils/GeneralUtilsTest.java
Due: none

Fixes SSO login rejection (#2566)
  src/main/java/stirling/software/SPDF/config/security/UserAuthenticationFilter.java
  src/main/java/stirling/software/SPDF/controller/web/AccountWebController.java
  src/main/resources/messages_en_GB.properties
Due: check-duplicate-properties-keys

Fix: Translation Verification
  .github/workflows/check_properties.yml
Due: none

Add Button for Toggling Aspect ratio + UI tweaks
  src/main/resources/messages_en_GB.properties
  src/main/resources/static/css/add-image.css
  src/main/resources/static/css/sign.css
  src/main/resources/static/js/draggable-utils.js
  src/main/resources/templates/misc/add-image.html
  src/main/resources/templates/sign.html
Due: check-duplicate-properties-keys, check-html-tabs

Tweak delete button
  src/main/resources/templates/misc/add-image.html
  src/main/resources/templates/sign.html
Due: check-html-tabs

Update messages_de_DE.properties
  src/main/resources/messages_de_DE.properties
Due: check-duplicate-properties-keys

Feature/improved signature element (#2489)
  src/main/resources/messages_en_GB.properties
  src/main/resources/static/css/add-image.css
  src/main/resources/static/css/fileSelect.css
  src/main/resources/static/css/sign.css
  src/main/resources/static/js/draggable-utils.js
  src/main/resources/static/js/fileInput.js
  src/main/resources/static/js/pages/add-image.js
  src/main/resources/static/js/pages/sign.js
  src/main/resources/static/js/sign/signature-canvas.js
  src/main/resources/templates/fragments/common.html
  src/main/resources/templates/misc/add-image.html
  src/main/resources/templates/sign.html
Due: check-duplicate-properties-keys, check-html-tabs

Fix: Translation Verification (#2581)
  .github/workflows/check_properties.yml
Due: none

adding checks for H2
  src/main/java/stirling/software/SPDF/SPDFApplication.java
  src/main/java/stirling/software/SPDF/config/security/InitialSecuritySetup.java
  src/main/java/stirling/software/SPDF/config/security/database/DatabaseConfig.java
  src/main/java/stirling/software/SPDF/config/security/database/DatabaseService.java
  src/main/java/stirling/software/SPDF/controller/api/DatabaseController.java
  src/main/java/stirling/software/SPDF/model/SessionEntity.java
  src/main/java/stirling/software/SPDF/model/User.java
  src/main/resources/settings.yml.template
  src/test/java/stirling/software/SPDF/config/security/database/DatabaseServiceTest.java
Due: none

Fix: Translation Verification hard-coded repo properties
  .github/workflows/check_properties.yml
Due: none

Fix: Translation Verification hard-coded repo properties (#2584)
  .github/workflows/check_properties.yml
Due: none

Update messages_de_DE.properties (#2583)
  src/main/resources/messages_de_DE.properties
Due: check-duplicate-properties-keys

Update build.gradle
  build.gradle
Due: none

using GeneralUtils.parsePageList functions
  src/main/resources/messages_ar_AR.properties
  src/main/resources/messages_az_AZ.properties
  src/main/resources/messages_bg_BG.properties
  src/main/resources/messages_ca_CA.properties
  src/main/resources/messages_cs_CZ.properties
  src/main/resources/messages_da_DK.properties
  src/main/resources/messages_de_DE.properties
  src/main/resources/messages_el_GR.properties
  src/main/resources/messages_en_GB.properties
  src/main/resources/messages_en_US.properties
  src/main/resources/messages_es_ES.properties
  src/main/resources/messages_eu_ES.properties
  src/main/resources/messages_fa_IR.properties
  src/main/resources/messages_fr_FR.properties
  src/main/resources/messages_ga_IE.properties
  src/main/resources/messages_hi_IN.properties
  src/main/resources/messages_hr_HR.properties
  src/main/resources/messages_hu_HU.properties
  src/main/resources/messages_id_ID.properties
  src/main/resources/messages_it_IT.properties
  src/main/resources/messages_ja_JP.properties
  src/main/resources/messages_ko_KR.properties
  src/main/resources/messages_nl_NL.properties
  src/main/resources/messages_no_NB.properties
  src/main/resources/messages_pl_PL.properties
  src/main/resources/messages_pt_BR.properties
  src/main/resources/messages_pt_PT.properties
  src/main/resources/messages_ro_RO.properties
  src/main/resources/messages_ru_RU.properties
  src/main/resources/messages_sk_SK.properties
  src/main/resources/messages_sr_LATN_RS.properties
  src/main/resources/messages_sv_SE.properties
  src/main/resources/messages_th_TH.properties
  src/main/resources/messages_tr_TR.properties
  src/main/resources/messages_uk_UA.properties
  src/main/resources/messages_vi_VN.properties
  src/main/resources/messages_zh_CN.properties
  src/main/resources/messages_zh_TW.properties
  src/main/resources/templates/convert/pdf-to-img.html
Due: check-duplicate-properties-keys, check-html-tabs

additional Swedish translations
  src/main/resources/messages_sv_SE.properties
Due: check-duplicate-properties-keys

using GeneralUtils.parsePageList functions
  src/main/java/stirling/software/SPDF/controller/api/converters/ConvertImgPDFController.java
  src/main/java/stirling/software/SPDF/model/api/converters/ConvertToImageRequest.java
  src/main/java/stirling/software/SPDF/utils/PdfUtils.java
Due: none

Token-Permissions & Pinned-Dependencies
  .github/workflows/PR-Demo-Comment.yml
  .github/workflows/PR-Demo-cleanup.yml
  .github/workflows/auto-labeler.yml
  .github/workflows/build.yml
  .github/workflows/licenses-update.yml
  .github/workflows/manage-label.yml
  .github/workflows/multiOSReleases.yml
  .github/workflows/pre_commit.yml
  .github/workflows/push-docker.yml
  .github/workflows/releaseArtifacts.yml
  .github/workflows/stale.yml
  .github/workflows/swagger.yml
  .github/workflows/sync_files.yml
  .github/workflows/update-translations.yml
Due: none

additional Swedish translations (#2585)
  src/main/resources/messages_sv_SE.properties
Due: check-duplicate-properties-keys

Token-Permissions & Pinned-Dependencies (#2586)
  .github/workflows/PR-Demo-Comment.yml
  .github/workflows/PR-Demo-cleanup.yml
  .github/workflows/auto-labeler.yml
  .github/workflows/build.yml
  .github/workflows/licenses-update.yml
  .github/workflows/manage-label.yml
  .github/workflows/multiOSReleases.yml
  .github/workflows/pre_commit.yml
  .github/workflows/push-docker.yml
  .github/workflows/releaseArtifacts.yml
  .github/workflows/stale.yml
  .github/workflows/swagger.yml
  .github/workflows/sync_files.yml
  .github/workflows/update-translations.yml
Due: none

Add: OSSF Banner
  README.md
Due: none

Update README.md
  README.md
Due: none

added placeholder to the input
  src/main/resources/messages_ar_AR.properties
  src/main/resources/messages_az_AZ.properties
  src/main/resources/messages_bg_BG.properties
  src/main/resources/messages_ca_CA.properties
  src/main/resources/messages_cs_CZ.properties
  src/main/resources/messages_da_DK.properties
  src/main/resources/messages_de_DE.properties
  src/main/resources/messages_el_GR.properties
  src/main/resources/messages_en_GB.properties
  src/main/resources/messages_en_US.properties
  src/main/resources/messages_es_ES.properties
  src/main/resources/messages_eu_ES.properties
  src/main/resources/messages_fa_IR.properties
  src/main/resources/messages_fr_FR.properties
  src/main/resources/messages_ga_IE.properties
  src/main/resources/messages_hi_IN.properties
  src/main/resources/messages_hr_HR.properties
  src/main/resources/messages_hu_HU.properties
  src/main/resources/messages_id_ID.properties
  src/main/resources/messages_it_IT.properties
  src/main/resources/messages_ja_JP.properties
  src/main/resources/messages_ko_KR.properties
  src/main/resources/messages_nl_NL.properties
  src/main/resources/messages_no_NB.properties
  src/main/resources/messages_pl_PL.properties
  src/main/resources/messages_pt_BR.properties
  src/main/resources/messages_pt_PT.properties
  src/main/resources/messages_ro_RO.properties
  src/main/resources/messages_ru_RU.properties
  src/main/resources/messages_sk_SK.properties
  src/main/resources/messages_sr_LATN_RS.properties
  src/main/resources/messages_sv_SE.properties
  src/main/resources/messages_th_TH.properties
  src/main/resources/messages_tr_TR.properties
  src/main/resources/messages_uk_UA.properties
  src/main/resources/messages_vi_VN.properties
  src/main/resources/messages_zh_CN.properties
  src/main/resources/messages_zh_TW.properties
  src/main/resources/templates/convert/pdf-to-img.html
Due: check-duplicate-properties-keys, check-html-tabs

code refactor
  src/main/resources/messages_az_AZ.properties
  src/main/resources/messages_bg_BG.properties
  src/main/resources/messages_hr_HR.properties
Due: check-duplicate-properties-keys

translation strings issue fixed for ar_AR
  src/main/resources/messages_ar_AR.properties
Due: check-duplicate-properties-keys

changes the permission to write issues
  .github/workflows/PR-Demo-Comment.yml
Due: none
