Repository Stirling-Tools/Stirling-PDF: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-duplicate-properties-keys, check-html-tabs

check-duplicate-properties-keys:
  name: Check Duplicate Properties Keys
  entry: python .github/scripts/check_duplicates.py
  language: python

check-html-tabs:
  name: Check HTML for tabs
  entry: python .github/scripts/check_tabulator.py
  language: python

Move docs to website (#2571)
  CONTRIBUTING.md
  Endpoint-groups.md
  FolderScanning.md
  LocalRunGuide.md
  PipelineFeature.md
  README.md
  Version-groups.md
  src/main/resources/templates/misc/ocr-pdf.html
  src/main/resources/templates/pipeline.html
Due: check-html-tabs

extends the .gitignore for cert and ssh
  .gitignore
Due: none

Styling updates for image uploading
  src/main/resources/messages_en_GB.properties
  src/main/resources/static/css/fileSelect.css
  src/main/resources/static/js/fileInput.js
  src/main/resources/templates/fragments/common.html
Due: check-duplicate-properties-keys, check-html-tabs

Add image preview on double click, colours for delecte and download buttons on sign/add-image
  src/main/resources/static/css/fileSelect.css
  src/main/resources/static/js/fileInput.js
  src/main/resources/templates/misc/add-image.html
  src/main/resources/templates/sign.html
Due: check-html-tabs

Prevent accessing undefined/null activeOverlay in rotationchangin event
  src/main/resources/static/js/redact.js
Due: check-html-tabs

Fix box-based redaction for landscape PDFs in Safari
  src/main/resources/static/js/redact.js
Due: check-html-tabs

Disable user/text-selection in box redaction mode
  src/main/resources/static/css/redact.css
  src/main/resources/static/js/redact.js
Due: check-html-tabs

Fix file drag and drop
  src/main/resources/static/js/multitool/PdfContainer.js
  src/main/resources/static/js/multitool/fileInput.js
  src/main/resources/templates/multi-tool.html
Due: check-html-tabs

extends the .gitignore for cert and ssh (#2572)
  .gitignore
Due: none

Fix color picker position for color input in the toolbar
  src/main/resources/static/css/redact.css
  src/main/resources/templates/security/redact.html
Due: check-html-tabs

Fix file drag and drop (#2575)
  src/main/resources/static/js/multitool/PdfContainer.js
  src/main/resources/static/js/multitool/fileInput.js
  src/main/resources/templates/multi-tool.html
Due: check-html-tabs

Add apply button to save page redaction settings
  src/main/resources/messages_en_GB.properties
  src/main/resources/static/js/redact.js
  src/main/resources/templates/security/redact.html
Due: check-duplicate-properties-keys, check-html-tabs

Saved signatures update to match new file input style + bug fixes and UI tweaks
  src/main/resources/static/css/sign.css
  src/main/resources/static/js/draggable-utils.js
  src/main/resources/static/js/fileInput.js
  src/main/resources/static/js/pages/sign.js
  src/main/resources/templates/sign.html
Due: check-html-tabs

Improve resizing logic
  src/main/resources/static/js/draggable-utils.js
Due: check-html-tabs

Add page input validation for page number/range/function
  src/main/resources/static/css/redact.css
  src/main/resources/static/js/redact.js
Due: check-html-tabs

Add redacted page preview
  src/main/resources/static/css/redact.css
  src/main/resources/static/js/redact.js
Due: check-html-tabs

2270: Adding postgresql
  build.gradle
  src/main/java/stirling/software/SPDF/config/security/database/DatabaseBackupHelper.java
  src/main/java/stirling/software/SPDF/model/ApplicationProperties.java
  src/main/resources/settings.yml.template
Due: none

2270: updating docker-compose files
  exampleYmlFiles/docker-compose-latest-fat-security.yml
  exampleYmlFiles/docker-compose-latest-security-with-sso.yml
  exampleYmlFiles/docker-compose-latest-security.yml
  exampleYmlFiles/docker-compose-latest-ultra-lite-security.yml
Due: none

2270: clean up
  src/main/java/stirling/software/SPDF/config/interfaces/DatabaseInterface.java
  src/main/java/stirling/software/SPDF/config/security/InitialSecuritySetup.java
  src/main/java/stirling/software/SPDF/config/security/database/DatabaseBackupHelper.java
  src/main/java/stirling/software/SPDF/model/exception/BackupNotFoundException.java
  src/test/java/stirling/software/SPDF/config/security/database/DatabaseServiceTest.java
Due: none

2270: renamed datasource config flag
  build.gradle
  exampleYmlFiles/docker-compose-latest-fat-security.yml
  exampleYmlFiles/docker-compose-latest-security-with-sso.yml
  exampleYmlFiles/docker-compose-latest-security.yml
  exampleYmlFiles/docker-compose-latest-ultra-lite-security.yml
  src/main/java/stirling/software/SPDF/config/security/database/DatabaseBackupHelper.java
  src/main/java/stirling/software/SPDF/config/security/database/DatabaseConfig.java
  src/main/java/stirling/software/SPDF/model/ApplicationProperties.java
  src/main/resources/settings.yml.template
  src/test/java/stirling/software/SPDF/config/security/database/DatabaseConfigTest.java
  src/test/java/stirling/software/SPDF/integrationtests/SPDFApplicationIntegrationTest.java
Due: none

#2700 handling exceptions
  src/main/java/stirling/software/SPDF/config/security/database/DatabaseBackupHelper.java
  src/main/java/stirling/software/SPDF/config/security/database/DatabaseConfig.java
  src/main/resources/settings.yml.template
  src/test/java/stirling/software/SPDF/config/security/database/DatabaseConfigTest.java
  src/test/java/stirling/software/SPDF/config/security/database/DatabaseServiceTest.java
Due: none

#2700 updating log messages
  exampleYmlFiles/docker-compose-latest-security.yml
  src/main/java/stirling/software/SPDF/config/security/database/DatabaseConfig.java
  src/main/resources/settings.yml.template
Due: none

#2270 moving db container to a separate compose file
  exampleYmlFiles/docker-compose-latest-fat-security.yml
  exampleYmlFiles/docker-compose-latest-security-with-sso.yml
  exampleYmlFiles/docker-compose-latest-security.yml
  exampleYmlFiles/docker-compose-latest-ultra-lite-security.yml
  exampleYmlFiles/docker-compose-postgres.yml
  src/main/java/stirling/software/SPDF/EE/LicenseKeyChecker.java
  src/main/java/stirling/software/SPDF/config/security/database/DatabaseConfig.java
  src/main/java/stirling/software/SPDF/model/ApplicationProperties.java
  src/main/resources/settings.yml.template
  src/test/java/stirling/software/SPDF/config/security/database/DatabaseConfigTest.java
Due: none

merging from main
  build.gradle
  src/main/java/stirling/software/SPDF/SPDFApplication.java
  src/main/java/stirling/software/SPDF/config/interfaces/DatabaseBackupInterface.java
  src/main/java/stirling/software/SPDF/config/security/CustomLogoutSuccessHandler.java
  src/main/java/stirling/software/SPDF/config/security/UserService.java
  src/main/java/stirling/software/SPDF/config/security/database/DatabaseService.java
  src/main/java/stirling/software/SPDF/config/security/database/ScheduledTasks.java
  src/main/java/stirling/software/SPDF/config/security/oauth2/CustomOAuth2AuthenticationSuccessHandler.java
  src/main/java/stirling/software/SPDF/config/security/saml2/CustomSaml2AuthenticationSuccessHandler.java
  src/main/java/stirling/software/SPDF/controller/api/DatabaseController.java
  src/main/java/stirling/software/SPDF/controller/api/UserController.java
  src/main/java/stirling/software/SPDF/controller/api/pipeline/ApiDocService.java
  src/main/java/stirling/software/SPDF/controller/api/pipeline/PipelineProcessor.java
  src/main/java/stirling/software/SPDF/controller/api/security/ValidateSignatureController.java
  src/main/java/stirling/software/SPDF/controller/web/DatabaseWebController.java
  src/test/java/stirling/software/SPDF/SPDFApplicationTest.java
  src/test/java/stirling/software/SPDF/SPdfApplicationTest.java
  src/test/java/stirling/software/SPDF/integrationtests/SPDFApplicationIntegrationTest.java
Due: none

Add palette icon next to shortened "redaction color' text
  src/main/resources/messages_en_GB.properties
  src/main/resources/templates/security/redact.html
Due: check-duplicate-properties-keys, check-html-tabs

Display color picker below button in redaction overlays
  src/main/resources/static/css/redact.css
  src/main/resources/static/js/redact.js
Due: check-html-tabs

Prepare N Function's format for evaluation
  src/main/resources/static/js/redact.js
Due: check-html-tabs

Reset feedback messages on change/apply
  src/main/resources/static/js/redact.js
Due: check-html-tabs

Refactor page redaction validation and action
  src/main/resources/static/js/redact.js
Due: check-html-tabs

Add US English translations as placeholders for all countries.
  src/main/resources/a.sh
  src/main/resources/messages_ar_AR.properties
  src/main/resources/messages_az_AZ.properties
  src/main/resources/messages_bg_BG.properties
  src/main/resources/messages_ca_CA.properties
  src/main/resources/messages_cs_CZ.properties
  src/main/resources/messages_da_DK.properties
  src/main/resources/messages_de_DE.properties
  src/main/resources/messages_el_GR.properties
  src/main/resources/messages_en_GB.properties
  src/main/resources/messages_en_US.properties
  src/main/resources/messages_es_ES.properties
  src/main/resources/messages_eu_ES.properties
  src/main/resources/messages_fa_IR.properties
  src/main/resources/messages_fr_FR.properties
  src/main/resources/messages_ga_IE.properties
  src/main/resources/messages_hi_IN.properties
  src/main/resources/messages_hr_HR.properties
  src/main/resources/messages_hu_HU.properties
  src/main/resources/messages_id_ID.properties
  src/main/resources/messages_it_IT.properties
  src/main/resources/messages_ja_JP.properties
  src/main/resources/messages_ko_KR.properties
  src/main/resources/messages_nl_NL.properties
  src/main/resources/messages_no_NB.properties
  src/main/resources/messages_pl_PL.properties
  src/main/resources/messages_pt_BR.properties
  src/main/resources/messages_pt_PT.properties
  src/main/resources/messages_ro_RO.properties
  src/main/resources/messages_ru_RU.properties
  src/main/resources/messages_sk_SK.properties
  src/main/resources/messages_sr_LATN_RS.properties
  src/main/resources/messages_sv_SE.properties
  src/main/resources/messages_th_TH.properties
  src/main/resources/messages_tr_TR.properties
  src/main/resources/messages_uk_UA.properties
  src/main/resources/messages_vi_VN.properties
  src/main/resources/messages_zh_CN.properties
  src/main/resources/messages_zh_TW.properties
Due: check-duplicate-properties-keys

deleted unwanted file
  src/main/resources/a.sh
Due: none

edge case : pageNumber value reset on dropdown change
  src/main/java/stirling/software/SPDF/controller/api/converters/ConvertImgPDFController.java
  src/main/resources/templates/convert/pdf-to-img.html
Due: check-html-tabs

Handle closing bracket pattern for N Functions
  src/main/resources/static/js/redact.js
Due: check-html-tabs

Add redaction preview to sidebar thumbnails
  src/main/resources/static/css/redact.css
  src/main/resources/static/js/redact.js
Due: check-html-tabs

Enhance NFunction sanitization and support advanced functions
  src/main/java/stirling/software/SPDF/utils/GeneralUtils.java
Due: none

Update tests for nfunction page parsing
  src/test/java/stirling/software/SPDF/utils/GeneralUtilsTest.java
Due: none

Path conditions:
  check-duplicate-properties-keys: any of: ^(src)/.+\.properties$
  check-html-tabs: any of: ^.*(\.html|\.css|\.js)$, but not: ^(src/main/resources/static/pdfjs|src/main/resources/static/pdfjs-legacy)
